[workspace]
members = [
    "crates/orchestrator-app",
    "crates/orchestrator-ops-project",
]
resolver = "2"

[workspace.package]
edition = "2024"

[workspace.dependencies]
anyhow = "1"
async-trait = "0.1"
